body{
    margin: 0;
    font-family: 'Malgun Gothic';
}

#header{
    height: 50px;
    position: sticky;
    top: 0;
}

#subName{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 6px;
}

table{
    margin: 0% auto;
    border-collapse: separate;
    border-spacing: 60px 50px;
}



.box1, .box2{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 650px;
    height: 300px;
    float: left;
}

.photo{
    float: left;
    width: 300px;
    height: 300px;
}

.content{
    float: left;
    margin-left: 20px;
    width: 320px;
    height: 300px;
}

.intex{
    font-size: 14px;
}

.subTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.ko{
    font-family: 'Malgun Gothic';
    font-size: 1em;
}

.nam{
    /*color: #797979;*/
    font-size: 14px;
}

.subnnn{
    color: #b6b5b6;
}

.link a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #f63f14;
}